Package: com.sergy.immortalizerjailed
Name: ImmortalizerJailed
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sergy
Author: sergy
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
